
    $primary-background-color:#002a3a;
    $pink-color:#ef426f;
	$text-color:rgb(0, 42, 58);
	$secondary-background-color:#efefef;
	$white:#fff;
	$black:#000;
	$cream-bg: #eee1d6;
	$carousal-icon-color:#00b0b9;
	$features-list-color:#939c9e;
	$btn-extra-color: #f4f4f4;
	$list-hover-color:rgb(0, 165, 174);
	$footer-bg-color:#E2E2E2;
	$health-bg-color:#fafafa;

